body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: 'Tahoma', sans-serif;
}

#left {
    width: 310px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 1px solid #777;
    padding: 20px;
    overflow: auto;
}

#search {
    padding: 5px;
    font-size: 14pt;
    width: 290px;
}

.search_result {
    padding: 7px 5px;
    border-bottom: 1px solid #555;
    cursor: pointer;
}

.search_result_active {
    background-color: yellow;
}

#user_schedule {
    margin-top: 30px;
}

#right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 350px;
    padding: 20px;
    overflow: auto;
}

.class_column {
    width: 350px;
    float: left;
    margin-right: 20px;
}

#class select {
    font-size: 25px;
    display: block;
    margin-bottom: 40px;
    padding: 5px 5px;
    width: 330px;
}

#class ul {
    margin: 10px 0 0 0;
    list-style-type: none;
    padding: 0;
}

#class li {
    font-size: 14pt;
    margin-bottom: 10px;
    cursor: pointer;
}

.ScheduleView_class {
    height: 50px;
    border-top: 1px solid #555;
    padding: 5px 10px;
    cursor: pointer;
}
.ScheduleView_time {
    font-size: 14px;
    float: left;
    margin-top: 7px;
    text-align: center;
    width: 35px;
}
.ScheduleView_right {
    float: left;
    margin-left: 10px;
}
.ScheduleView_name {
    font-size: 22px;
}
.ScheduleView_teacher {
    font-size: 16px;
}

#primatives {
    display: none;
}

page {
    display: block;
}

#class {
    display: none;
}

#compare {
    white-space: nowrap;
}

.compare_column {
    width: 350px;
    display: inline-block;
    margin-right: 30px;
    white-space: normal;
}

.compare_column_name {
    font-size: 15pt;
    margin-bottom: 20px;
    text-align: center;
}

#compare_column_info {
    text-align: center;
    font-style: italic;
}

#logout {
    text-align: center;
}
